<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Artificial Intelligence </title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"> 
	<style>
	.bg-dark {
		background-color: #42678c!important;
	}
	#result {
		color: #0a1c4ed1;
	}
	</style>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Team 14</a>
        </div>
    </nav>
    <div class="container">
        <div id="content" style="margin-top:2em">
		<div class="container">
		  <div class="row">
			<div class="col-sm-6 bd" >
			  <h3>Seedling Classification : </h3>
			  <br> 
            <div class="col-sm-60 bd" >
			  <p>
			  In recent times, the state of agriculture and the amount of work people need to put in to check if plants/food is growing correctly is phenomenal, because it is 2019 and workers still need to organize and recognize the difference between different plants and weeds. 
			  People who are working in the agriculture field still have to have the ability to sort and recognize different plants and weeds, which does take a lot of time and a lot of effort in the long term.This is where Artificial Intelligence can actually help benefit those workers, as the time and energy to identify plant seedlings will be much shortened. The ability to do so effectively can mean better crop yields and in the long term will result in better care for the environment. As by identifying the difference among the plants and weeds in a timely manner where it is highly accurate can positively impact agriculture.
			  </p>
			  <br>
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTSp-XwjjfvbjHfcECQvkdhtVOZJfBn7ZaFTNXP1jy0PBnvzu2n&usqp=CAU.PNG" style="height:350px"class="img-rounded" alt="Gesture">   
			</div>
			

			 <div class="container">
        <div id="content" style="margin-top:2em">{% block content %}{% endblock %}</div>
    </div>

			<div class="loader" style="display:none;"></div>

		</div>
			</div>
			 
		  </div>
		</div>
		</div>
    </div>
    </div>
</body>

<footer>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>    
</footer>

</html>